/* body{
    margin: 0 auto;
    background: transparent;
}
.whole{
    background-color: #2D2A37;
    border-radius: 100px;
    overflow: hidden;
    border-radius: 10px;
    backdrop-filter: blur(8px);
    margin: 10px 10px;
    box-shadow: 10px 20px 20px;
}
.title{
    background-color: rgba(255, 255, 255, 0.199);
    text-align: center;
    color: white;
    padding: 5px;
}
.title_nav{
    display: flex;
    position: fixed;
}
.icon{
    width:15px;
    background-color: white;
    height: 15px;
    display: inline-block;
    border-radius: 10px;
    margin-left: 3px;
}
.screen{
    box-sizing: border-box;
    margin: 15px;
    height:125px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    color:grey;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 20px 20px;
}
.results{
    font-size: 35px;
    align-self: flex-end;
    color:rgba(0, 0, 0, 0.78);
    font-weight: 550;
}
.query{
    align-self: flex-start;
    margin-top: 20px;
}
.buttons{
    position: relative;
    margin: 0px 15px 15px 15px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.upper{
    display: flex;
    flex-direction: row;
    grid-row-start: 1;
    grid-row-end: 2;
}
#AC{
    color: rgba(164, 67, 255, 0.88);
}
.num1{
    display: flex;
    flex-direction: row;
    grid-row-start: 2;
    grid-row-end: 3;
}
.num2{
    display: flex;
    flex-direction: row;
    grid-row-start: 3;
    grid-row-end: 4;
}
.num3{
    display: flex;
    flex-direction: row;
    grid-row-start: 4;
    grid-row-end: 5;
}
.lower{
    display: flex;
    flex-direction: row;
    grid-row-start: 5;
    grid-row-end: 6;
}
.side{
    display: flex;
    flex-direction: column;
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
}
#enter{
    height: 175px;
    border-radius: 40px;
}
button{
    background-color: rgba(0, 0, 255, 0);
    height: 75px;
    color: white;
    border-radius: 50%;
    width: 75px;
    margin:0px 5px 8px 5px;
    font-weight: 600;
    font-size: 20px;
    border:1px solid rgba(0, 0, 0, 0.236);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.726),inset 0px 1px 3px rgba(255, 255, 255, 0.201);
}

#Del,#Sub,#Add,#enter{
    background-color: rgba(164, 67, 255, 0.315);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.726),inset 0px 1px 3px rgba(255, 255, 255, 0.201);
}
#close{
    background-color: rgba(255, 0, 0, 0.242);
} */
body{
    margin: 0 auto;
    background: transparent;
}
.whole{
    /* background-color: rgba(40, 40, 40, 0.112); */
    /* background-image: linear-gradient(to bottom, #5a6fe62b, #4b62a692,#274073a8); */
    background-image: linear-gradient(rgba(78, 78, 248, 0.218),rgba(0, 0, 246, 0.48));
    height: 445px;
    width: 600px;
    /* border-radius: 8px; */
    padding: 40px;
    box-sizing: border-box;
}
.screen{
    /* background-color: black; */
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: end;
    font-family: "Roboto Mono", monospace;
}
.results{
    
    color: rgba(255, 255, 255, 0.895);
    opacity: 0.3;
    font-weight: 800;
    font-size:80px;
    text-shadow: 0px 2px 10px rgba(255, 255, 255, 0.201);

}
.query{
    font-size: 30px;
    color: rgba(255, 255, 255, 0.346);
    opacity: 0.7;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
}
#o{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 185px;
}
.right{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#enter{
    grid-column: 1/3;
    width: 185px;
    
}
.right button{
    color: white;
    background-color: #3452ae;
}
#AC{
    grid-column: 2/3;
    grid-row: 2/4;
    height: 105px;
}
button{
    width: 90px;
    height: 50px;
    border-radius: 12px;
    color: rgba(48, 48, 48, 0.706);
    font-size: 22px;
    /* margin-bottom: 5px; */
    margin: 0px 3px 5px 3px;
    border: none;
    /* border: 1px solid rgba(53, 53, 53, 0.122); */
    /* background-color: #4B61A6; */
    /* backdrop-filter: blur(8px); */
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.424);
    /* filter: blur(1px); */
}