/* body{
    margin: 0 auto;
    background: transparent;
}
.whole{
    background-color: #2D2A37;
    border-radius: 100px;
    overflow: hidden;
    border-radius: 10px;
    backdrop-filter: blur(8px);
    margin: 10px 10px;
    box-shadow: 10px 20px 20px;
}
.title{
    background-color: rgba(255, 255, 255, 0.199);
    text-align: center;
    color: white;
    padding: 5px;
}
.title_nav{
    display: flex;
    position: fixed;
}
.icon{
    width:15px;
    background-color: white;
    height: 15px;
    display: inline-block;
    border-radius: 10px;
    margin-left: 3px;
}
.screen{
    box-sizing: border-box;
    margin: 15px;
    height:125px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    color:grey;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 20px 20px;
}
.results{
    font-size: 35px;
    align-self: flex-end;
    color:rgba(0, 0, 0, 0.78);
    font-weight: 550;
}
.query{
    align-self: flex-start;
    margin-top: 20px;
}
.buttons{
    position: relative;
    margin: 0px 15px 15px 15px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.upper{
    display: flex;
    flex-direction: row;
    grid-row-start: 1;
    grid-row-end: 2;
}
#AC{
    color: rgba(164, 67, 255, 0.88);
}
.num1{
    display: flex;
    flex-direction: row;
    grid-row-start: 2;
    grid-row-end: 3;
}
.num2{
    display: flex;
    flex-direction: row;
    grid-row-start: 3;
    grid-row-end: 4;
}
.num3{
    display: flex;
    flex-direction: row;
    grid-row-start: 4;
    grid-row-end: 5;
}
.lower{
    display: flex;
    flex-direction: row;
    grid-row-start: 5;
    grid-row-end: 6;
}
.side{
    display: flex;
    flex-direction: column;
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
}
#enter{
    height: 175px;
    border-radius: 40px;
}
button{
    background-color: rgba(0, 0, 255, 0);
    height: 75px;
    color: white;
    border-radius: 50%;
    width: 75px;
    margin:0px 5px 8px 5px;
    font-weight: 600;
    font-size: 20px;
    border:1px solid rgba(0, 0, 0, 0.236);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.726),inset 0px 1px 3px rgba(255, 255, 255, 0.201);
}

#Del,#Sub,#Add,#enter{
    background-color: rgba(164, 67, 255, 0.315);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.726),inset 0px 1px 3px rgba(255, 255, 255, 0.201);
}
#close{
    background-color: rgba(255, 0, 0, 0.242);
} */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    background: rgba(255, 192, 203, 0.659);
    justify-content: center;
    align-items: center;
}
.whole{
    /* background-color: rgba(40, 40, 40, 0.112); */
    /* background-image: linear-gradient(to bottom, #5a6fe62b, #4b62a692,#274073a8); */
    background-image: linear-gradient(to bottom right,#9279BB, #9578BB);
    height: 410px;
    width: 600px;
    border-radius: 30px;
    padding: 40px;
    /* box-sizing: border-box; */
    box-shadow: inset -3px -3px 3px #695687, inset 3px 3px 3px #dadada4a,5px 5px 15px rgba(0, 0, 0, 0.605);

    /* background-color: hsl(265.97deg 33% 60.2%); */
}
.screen{
    background-color: hsl(268.62deg 40.37% 68.43%);
    border-radius: 25px;
    height: 150px;
    margin-bottom: 40px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: end;
    font-family: "Roboto Mono", monospace;
    box-shadow: inset 2px 1px 8px hsl(268.62deg 40.37% 38.43%),inset -3px -3px 2px rgba(255, 255, 255, 0.286);
    
}
.results{
    color: rgba(255, 255, 255, 0.895);
    opacity: 0.3;
    font-weight: 800;
    font-size:80px;
    text-shadow: 0px 2px 10px rgba(255, 255, 255, 0.201);

}
.query{
    font-size: 30px;
    padding-bottom: 20px;
    color: rgba(255, 255, 255, 0.346);
    opacity: 0.7;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
}
#o{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 185px;
}
.right{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#enter{
    grid-column: 1/3;
    width: 185px;
    
}
.right button{
    color: white;
    background-color: hsl(42.03deg 96.89% 62.16%);
    box-shadow: inset -3px -3px 2px hsla(34, 97%, 38%, 0.951),inset 2px 2px 2px rgba(255, 255, 255, 0.186);
}
.left button{
    box-shadow: inset -3px -3px 2px hsla(264, 33%, 60%, 0.531),inset 2px 2px 2px rgba(255, 255, 255, 0.186);
}
#AC{
    grid-column: 2/3;
    grid-row: 2/4;
    height: 105px;
}
button{
    font-family: "Noto Sans JP", sans-serif;
    width: 90px;
    height: 50px;
    border-radius: 15px;
    color: hsl(271.53deg 26.94% 57.06%);
    font-size: 22px;
    /* margin-bottom: 5px; */
    margin: 0px 10px 10px 3px;
    border: none;
    font-weight: 700;
    /* border: 1px solid rgba(53, 53, 53, 0.122); */
    /* background-color: #4B61A6; */
    /* backdrop-filter: blur(8px); */
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.424);
    /* filter: blur(1px); */
}